

block content
  h1= title
  -let results=[{car_company:"Rolls Royce",color:"Salamanca Blue",price:450000},{car_company:"lamborgini",color:"white",price:500000},{car_company:"bugatti",color:"yellow",price:300000}]
  div(class="container-fluid")
  div(class="row")
  -
  each j,index in results 
            div(class="col-sm-2" onclick=`buy(${index})`)  #{j.car_company}  
            div(class="col-sm-2" onclick=`buy(${index})`)  #{j.color}
            div(class="col-sm-2" onclick=`buy(${index})`)  #{j.price}
script.
    function buy(l)
    {
        alert(`You have purchased item ${l+1}`);
    }